@import '../../utils.scss';

.addEvents {
  min-height: 100vh;
  position: relative;
  padding: 70px 0 150px;
}

.darker {
  @extend %darker;
  opacity: 0.8;
  background: black;
}

.container {
  position: relative;
  margin-left: auto;
  max-width: calc(50% + 575px);
  padding: 100px 200px;
  background: $c-light-black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.heading {
  @extend %heading;
  margin-bottom: 30px;
  color: $c-white;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.inputString,
.inputFile {
  @extend %inputBase;
}

.inputTextarea {
  @extend %inputBase;
  height: 200px;
  resize: none;
}

.inputWithError {
  border-bottom-color: red;
}

.errorMessage {
  margin-top: 24px;
  font-size: 24px;
  color: red;
}

.submit {
  @extend %ifo-button;
  margin-top: 60px;
}

@media (max-width: 1150px) {
  .container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }

  .form {
    width: 80vw;
  }
}
