$heading-font: "Caveat", cursive;
$c-white: #eee;
$c-orange: #d98a52;
$c-light-black: #2c2c2c;

%container {
  max-width: 1150px;
  width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

%darker {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%heading {
  font-size: 56px;
  font-family: $heading-font;
}

%ifo-link {
  display: inline-block;
  text-decoration: none;
  color: $c-white;
  position: relative;
  font-family: $heading-font;

  &:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: $c-white;
    transform: scaleX(0);
    transition: 0.5s;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

%logo {
  height: 55px;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  background: $c-white;
}

img {
  display: block;
}
